<div class="navHeaderContainer">
    <div class="navContent">
        <div class="headerImages">
            <a href="/"><img src="/1675147251_top-fon-com-p-fon-dlya-prezentatsii-povar-konditer-65.png" alt=""></a>
        </div>
        <div class="centerImages">
            <a href="/"><img src="/book.jpg" alt=""></a>
        </div>
        <div class="menuRegistr">
            <a href="/">На главную</a>
        </div>
    </div>
</div>