body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
.navRegistrHeader {
  display: flex;
  flex-direction: row;
}
.navRegistrImages img {
  width: 120px;
  height: auto;
  margin: 10px 10px 10px 40px;
}
.menuRegistr {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menuRegistr a {
  padding: 2px 4px;
  color: #aaaaaa;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  border: 2px solid #aaaaaa;
  margin: 2px;
}
.menuRegistr a:hover {
  background: #aaaaaa;
  color: #050801;
}
footer {
  margin-top: auto;
}
.footerRegistration {
  padding: 5px;
  background-color: #000000;
  height: 40px;
  color: white;
  text-align: center;
}
h2 {
  text-align: center;
}
.container-authorization {
  margin-top: 80px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid #aaaaaa;
}
.container-registration {
  margin: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid #aaaaaa;
}
.input-box {
  margin-bottom: 10px;
}
form .button {
  height: 45px;
  margin: 15px 0 0;
}
form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid #aaaaaa;
  background-color: #aaaaaa;
}
form .button input:hover {
  background-color: #cccccc83;
  color: rgb(3, 3, 3);
}
.message {
  text-align: center;
  padding: 10px;
}
.message a {
  text-decoration: none;
  margin: 0 5px;
}
.password-toggle {
  display: grid;
  grid-template-rows: auto;
  text-align: left;
}
.input-box span {
  font-size: 16px;
}
.form-control {
  margin-top: 5px;
}
.show-password-label {
  color: rgb(158, 157, 157);
}
.errorEmail,
.errorLogin,
.errorLoginEndEmail {
  padding-top: 10px;
  text-align: center;
  color: red;
  font-size: 18px;
  animation: shake 0.4s;
}
.errorAuthorization {
  padding-bottom: 5px;
  text-align: center;
  color: red;
  font-size: 18px;
  animation: shake 0.4s;
}
.messageAuthorization {
  text-align: center;
  padding-top: 30px;
  margin: 10px;
}
.messageAuthorization a {
  margin-left: 10px;
}

#confirmPasswordError {
  display: none;
  color: red;
  font-size: 18px;
  animation: shake 0.4s;
}
.selectOptions {
  margin-top: 10px;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}
#error-message {
  display: none;
  color: red;
  font-size: 20px;
  animation: shakes 0.4s;
}
@keyframes shakes {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}
.show-password-label {
  margin-top: 5px;
}
.spanRadio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.radioConteiner {
  width: 45%;
}
.spanRadioDiv {
  margin: 0 0 10px;
  text-align: start;
  border: 2px solid #aaaaaa;
  padding: 5px 10px;
  border-radius: 5px;
}
.spanRadioDiv span {
  padding: 5px;
}
.spanRadioDiv img,
.messageBtnContent img {
  width: 14px;
  height: 14px;
  margin-bottom: 2px;
}
.tooltip-toggle {
  position: relative;
  display: inline-block;
}

.tooltip-text,
.tooltip-text-questions {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding: 10px;
  border-radius: 10px;
  width: 256px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  display: none;
}

.tooltip-toggle-questions:hover .tooltip-text-questions,
.tooltip-toggle-questions:focus .tooltip-text-questions,
.tooltip-toggle:hover .tooltip-text,
.tooltip-toggle:focus .tooltip-text {
  display: block;
}
.tooltip-toggle-questions {
  position: relative;
  display: flex;
  margin-top: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .menuRegistr a {
    font-size: 13px;
  }
}
@media screen and (max-width: 480px) {
  .menuRegistr a {
    font-size: 12px;
  }
}
